@keyframes load {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
@keyframes link_hover {
	0% {
		color: #8866ff;
	}
	100% {
		color: #aa88ff;
	}
}
@keyframes sub_to_pinku {
	0% {
		color: #ff0000;
	}
	10% {
		color: #ff8800;
	}
	20% {
		color: #ffff00;
	}
	30% {
		color: #88ff00;
	}
	40% {
		color: #00ff00;
	}
	50% {
		color: #0088ff;
	}
	60% {
		color: #0000ff;
	}
	70% {
		color: #8800ff;
	}
	80% {
		color: #ff0000;
	}
	90% {
		color: #ffffff;
	}
	100% {
		color: #ff0000;
	}
}
@keyframes slide_down_slightly {
	0% {
		margin-top: -32px;
		opacity: 0%;
	}
	100% {
		margin-top: 0px;
		opacity: 100%;
	}
}
@keyframes living_bg {
	0% {
		background-color: #000811;
	}
	50% {
		background-color: #001022;
	}
	100% {
		background-color: #000811;
	}
}
a {
	color: #8866ff;
}
a:hover {
	color: #bb99ff;
	animation: link_hover 250ms linear;
}
body {
	margin: 0px;
	background-color: #000811;
	animation: living_bg 3s linear infinite;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 8px 8px;
	font-family: 'Segoe UI', sans-serif;
	animation: load 250ms linear;
	color: #e0e0e0;
}
h1 {
	margin: 4px 8px;
	color: #0088ff;
}
img {
	margin: 8px;
	border-radius: 4px;
	width: calc(100% - 16px);
	height: 256px;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
	object-fit: cover;
	animation: load 250ms linear;
}
.HamburgerIcon {
	position: fixed;
	left: 24px;
	top: 16px;
	width: 32px;
	height: 32px;
	background-size: cover;
	background-image: url(res/menu_norm.png);
	border: 0px;
	background-color: rgba(0, 0, 0, 0);
	animation: load 250ms linear;
	cursor: pointer;
}
.HamburgerIcon:hover {
	position: fixed;
	left: 24px;
	top: 16px;
	width: 32px;
	height: 32px;
	background-size: cover;
	background-image: url(res/menu_over.png);
	border: 0px;
	background-color: rgba(0, 0, 0, 0);
}
.PageIcon {
	position: fixed;
	left: 72px;
	top: 8px;
	width: 32px;
	height: 32px;
	border-radius: 4px;
	background-color: #0088ff;
}
.PageTitle {
	position: fixed;
	left: 120px;
	top: 12px;
}
.PageIconPC {
	position: fixed;
	left: 8px;
	top: 8px;
	width: 32px;
	height: 32px;
	border-radius: 4px;
	background-color: #0088ff;
}
.PageTitlePC {
	position: fixed;
	left: 56px;
	top: 12px;
}
.SideBar {
	position: fixed;
	margin-top: 8px;
	padding: 8px;
	top: 64px;
	width: calc(15% - 12px);
	background-color: #101010;
	border-radius: 12px;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
	animation: load 120ms linear;
}
.SideBar2 {
	position: fixed;
	margin-top: 136px;
	padding: 8px;
	top: 64px;
	width: calc(15% - 12px);
	background-color: #101010;
	border-radius: 12px;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
	animation: load 120ms linear;
}
.Content {
	padding: 8px;
	margin-top: 64px;
	width: calc(100% - 16px);
	background-color: #252525;
	border-radius: 16px;
	animation: load 250ms linear;
}
.ContentPC {
	padding: 8px;
	margin-left: calc(15% + 4px);
	width: calc(85% - 12px);
	background-color: #252525;
	border-radius: 16px;
	animation: load 250ms linear;
}
.Blog {
	margin: 8px;
	padding: 8px;
	background-color: #333333;
	border-radius: 8px;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
	animation: load 250ms linear;
}
.Seperator {
	width: 100%;
	height: 2px;
	background-color: #555555;
}
.Spacer {
	margin: 4px;
}
.YouTubeVideoThumbnail {
	width: 128px;
	height: 80px;
}
.YouTubeVideoTitle {
	margin-left: 150px;
	margin-top: -88px;
}
.YouTubeVideoDesc {
	margin-left: 150px;
}
.YouTubeVideoAuthour {
	margin-left: 150px;
}
.HamburgerMenu {
	padding: 8px;
	position: fixed;
	top: 64px;
	width: 100%;
	background-color: #101010;
	border-radius: 16px;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
	animation: slide_down_slightly 120ms linear;
}
.SubToPinku {
	color: #e0e0e0px;
	animation: sub_to_pinku 1s linear infinite;
}
.TopBarBg {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 64px;
	border-radius: 0px;
	background-image: url(res/topbarBg.png);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}
