
@keyframes ui_anim {
	0% {
		opacity: 0%;
		margin-top: -32px;
	}
	65% {
		opacity: 100%;
		margin-top: 0px;
	}
	80% {
		opacity: 100%;
		margin-top: -8px;
	}
	100% {
		opacity: 100%;
		margin-top: 0px;
	}
}
@keyframes ui_anim2 {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
@keyframes toast_anim {
	0% {
		opacity: 0%;
		margin-right: -320px;
	}
	65% {
		opacity: 100%;
		margin-right: 0px;
	}
	80% {
		opacity: 100%;
		margin-right: -16px;
	}
	100% {
		opacity: 100%;
		margin-right: 0px;
	}
}
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
@media only screen and (max-width: 300px) {
	.prev, .next,.text {font-size: 11px}
}
body {
	overflow-x: hidden;
	margin: 0px;
	padding: 0px 0px;
	background-color: #101010;
}
h1, p {
	margin: 0px;
	padding: 4px 32px;
	font-family: 'Arial';
	color: #e0e0e0;
	animation: ui_anim2 0.5s linear;
}
img {
	vertical-align: middle;
}
* {
	box-sizing: border-box;
}
.mySlides {
	display: none;
}
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 8px;
	user-select: none;
}
.next {
	right: 0;
	border-radius: 8px;
}
.prev:hover, .next:hover {
	background-color: #1188ff;
	color: black;
}
.text {
	font-family: 'Arial';
	color: #e0e0e0;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}
.numbertext {
	font-family: 'Arial';
	color: #e0e0e0;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 8px;
	background-color: #a9a9a9;
	border-radius: 25%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #1188FF;
}
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 0.5s;
	animation-name: fade;
	animation-duration: 0.5s;
}
.topBar {
	position: relative;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 144px;
	background: #545454;
	background-size: 100%;
	animation: ui_anim 0.5s linear;
}
.toast {
	position: absolute;
	bottom: 16px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	background: #252525;
	width: 320px;
	height: 64px;
	animation: toast_anim 0.5s linear;
}
