@keyframes load {
	0% {
		margin-left: 50%;
		opacity: 0%;
	}
	100% {
		opacity: 100%;
	}
}
@keyframes link_hover {
	0% {
		margin-left: 4px;
		color: #888888;
		background-color: rgba(255, 255, 255, 0);
	}
	100% {
		color: #0088ff;
		background-color: rgba(0, 127, 255, 0.164);
	}
}
@keyframes link_hover2 {
	0% {
		margin-left: 124px;
		color: #888888;
		background-color: rgba(255, 255, 255, 0);
	}
	100% {
		color: #0088ff;
		background-color: rgba(0, 127, 255, 0.164);
	}
}
@keyframes sub_to_indianajmh {
	0% {
		color: #004488;
	}
	50% {
		color: #0088ff;
	}
	100% {
		color: #004488;
	}
}
@keyframes slide_down_slightly {
	from {
		margin-top: -32px;
		opacity: 0;
	}
	to {
		margin-top: 0;
		opacity: 100%;
	}
}
@keyframes toast {
	from {
		transform: translate(0, calc(50% - 100% + 8px));
	}
	to {
		transform: translate(0, calc(-100% - 56px + 28px));
	}
}
@keyframes toast_out {
	from {
		transform: translate(0, calc(-100% - 56px + 28px));
		color: #404040;
	}
	to {
		transform: translate(0, calc(50% - 100% + 8px));
		color: #ffffff;
	}
}
* {
	overflow-x: hidden;
}
a {
	color: #0088ff;
}
a:hover {
	color: #0088ff;
	background-color: rgba(0, 127, 255, 0.164);
	animation: link_hover 250ms ease-out;
	border-style: solid;
	border-width: 4px;
	border-color: rgba(0, 127, 255, 0.024);
}
a:focus {
	color: #0088ff;
	background-color: rgba(0, 127, 255, 0.164);
	animation: link_hover 250ms ease-out;
	border-style: solid;
	border-width: 4px;
	border-color: rgba(0, 127, 255, 0.024);
}
body {
	margin: 0;
	background-color: #88ccff;
	animation: living_bg 3s ease-out infinite;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 8px 8px;
	font-family: 'Segoe UI', sans-serif;
	animation: load 500ms ease-out;
	color: #101010;
}
h1 {
	margin: 4px 8px;
	color: #0088ff;
	font-weight: lighter;
}
img {
	margin: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation: load 500ms ease-out;
}
.HamburgerIcon {
	position: fixed;
	left: 24px;
	top: 16px;
	width: 32px;
	height: 32px;
	background-size: cover;
	background-image: url(res/menu_norm.png);
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	animation: load 500ms ease-out;
	cursor: pointer;
}
.HamburgerIcon:hover {
	position: fixed;
	left: 24px;
	top: 16px;
	width: 32px;
	height: 32px;
	background-size: cover;
	background-image: url(res/menu_over.png);
	border: 0;
	background-color: rgba(0, 0, 0, 0);
}
.PageIcon {
	position: fixed;
	left: 72px;
	top: 8px;
	width: 32px;
	height: 32px;
	border-radius: 4px;
	background-color: #0088ff;
}
.PageTitle {
	position: fixed;
	left: 120;
	top: 12px;
}
.PageIconPC {
	position: fixed;
	left: 8px;
	top: 8px;
	width: 32px;
	height: 32px;
	background-color: #0088ff;
}
.PageTitlePC {
	position: fixed;
	left: 56px;
	top: 12px;
}
.SideBar {
	position: fixed;
	margin-top: 8px;
	padding: 8px;
	top: 64px;
	width: calc(15% - 12px);
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation: load 120ms ease-out;
}
.SideBar2 {
	position: fixed;
	margin-top: 195px;
}
.SideBar:hover {
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0, 127, 255, 1);
	padding: 6px;
}
.Content {
	padding: 8px;
	margin-left: 4px;
	margin-top: 64px;
	width: calc(100% - 16px - 8px);
	background-color: #e0e0e0;
	animation: load 500ms ease-out;
}
.ContentPC {
	padding: 8px;
	margin-left: calc(15% + 8px);
	width: calc(85% - 12px - 4px);
	background-color: #e0e0e0;
	animation: load 500ms ease-out;
}
.Container {
	margin: 8px;
	padding: 8px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
	animation: load 500ms ease-out;
}
.Container:hover {
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0, 127, 255, 1);
	padding: 6px;
}
.Blog {
	margin: 8px;
	padding: 8px;
	float: left;
	background-color: #ffffff;
	width: calc(99% / 3 - 28px);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
	animation: load 500ms ease-out;
}
.Blog:hover {
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0, 127, 255, 1);
	padding: 6px;
}
.Seperator {
	width: 100%;
	height: 2px;
	background-color: #888888;
}
.Spacer {
	margin: 4px;
}
.YouTubeVideoThumbnail {
	width: 128px;
	height: 80;
	box-shadow: none;
}
.YouTubeVideoTitle {
	margin-left: 150;
	margin-top: -88px;
}
.YouTubeVideoDesc {
	margin-left: 150;
}
.YouTubeVideoAuthour {
	margin-left: 150;
}
.HamburgerMenu {
	padding: 8px;
	position: fixed;
	top: 64px;
	width: 100%;
	background-color: #101010;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation: slide_down_slightly 120ms ease-out;
}
.SubToIndianajmh {
	color: #404040;
	animation: sub_to_indianajmh 2s linear infinite;
}
.TopBarBg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 64px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.WhiteText {
	color: #e0e0e0;
}
.BlackText {
	color: #101010;
}
.FeedbackTitle {
	margin-left: 128px;
	margin-right: 128px;
	margin-top: 72px;
}
.FeedbackDesc {
	margin-left: 128px;
	margin-right: 128px;
	margin-bottom: 72px;
}
.FeedbackLink, .FeedbackLink:hover, .FeedbackLink:focus {
	margin-left: 120;
	margin-right: 128px;
}
.FeedbackLink:hover {
	animation: link_hover2 250ms ease-out;
}
.SlideshowImageBase {
	margin-top: -8px;
}
.SlideshowImage {
	width: calc(100% - 16px);
	height: 255px;
	object-fit: cover;
	margin: 0 8px;
}
.SlideshowText {
	text-align: center;
}
.SideBarIcon {
	margin: 0;
	margin-right: 8px;
	width: 16px;
	height: 16px;
	border-radius: 0;
	box-shadow: none;
	-webkit-filter: invert(1);
	filter: invert(1);
}
.Panel {
	margin: 8px;
	padding: 0;
	width: calc(100% - 20);
	height: 75%;
	border-style: inset;
}
.Toast {
	padding: 8px;
	position: fixed;
	right: 4px;
	top: 72px;
	transform: translate(0, calc(-100% - 56px + 28px));
	width: 25%;
	background-color: #101010;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation: toast 250ms ease-out;
}
.Toast:hover {
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0, 127, 255, 1);
	padding: 6px;
	transform: translate(0, calc(50% - 100% + 8px));
	animation: toast_out 250ms ease-out;
}
